# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=

# The ID of your GitHub App
APP_ID=
WEBHOOK_SECRET=development
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

# Slack config
SLACK_TOKEN=...
SLACK_DEPLOY_NOTIFICATIONS_CHANNEL=test-github-notifications

# Console deployment notifications parameters
CONSOLE_DEPLOY_WORKFLOW_ID=
CONSOLE_STAGING_BRANCH_NAME=main
CONSOLE_PRODUCTION_BRANCH_NAME=release
